 /* logo */
        .skin-blue .main-header .logo {
                              background-color: #00adf2;
                              }

        /* logo when hovered  */
        .skin-blue .main-header .logo:hover {
                              background-color: #00adf2;
                              }
       

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: #00adf2;
                              }  
                              
         

        /* main sidebar 
        .skin-blue .main-sidebar {
                              background-color: #f4b943;
                              }
                              
        */

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              border-left-color: #00adf2;
                              }
        

        /* other links in the sidebarmenu 
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #00ff00;
                              color: #000000;
                              }
        */

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              border-left-color: #00adf2;
                              }
        
        
        /* toggle button when hovered  */                
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #002940;
                              
      .box.box-solid {
          padding: 1em;
          border-top: 0;
          border-radius: 0.5em;
               }
        

                              
       